
$bgColor-1: #2f2f2f;
$bgColor-2: #ffffff;
$bgColor-3: #ffd345;

$color-yellow: #ffc200;
$color-black: #333333;
$color-white: #ffffff;

$Monst: Montserrat Alternates, sans-serif;
$Grand: Grand Hotel, sans-serif;


@mixin font ($f-weight, $f-size, $f-family) {
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  font-family: $f-family, sans-serif;
}
@mixin color-white {
  color: #ffffff;
}
@mixin color-yellow {
  color: #ffc200;
}
@mixin color-black {
  color: #333333;
}


// =========================== ПРЕСЕТЫ-МИКСИНЫ =========================

body {
  padding: 1px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
}

.button {
  @include font (700, 19px, $Monst);
  display: inline-block;
  text-transform: uppercase;
  color: $color-black;
  padding: 20px 60px;
  white-space: nowrap;
  border-radius: 4px;
  background: $color-yellow;
  transition: all .3s;

  &:hover {
    transform: scale(1.03);
  }
}

// ================================ HEADER ==================================
.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $color-white;
  background: url("/images/test-1.png") no-repeat center / cover,
  $bgColor-1;
  padding-bottom: 210px;
}

.header__top {

}

.header__top-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin: 0 15px 15px -12px;
  transition: all .3s;

  &:hover {
    transform: scale(1.04);
  }
}

.header__nav {
  @include font (400, 25px, $Monst);
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__nav-item {
  margin-right: 70px;

  &:last-child{
    margin-right: 15px;
  }

}
.header__nav-link {
  transition: all .3s;

  &:hover {
    color: $color-yellow;
    transform: scale(1.04);
  }
}
.header__top-box {
}
.header__top-btn {
}

.header__body {
  flex-grow: 1;
}
.header__body-inner {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100%;
}
.header__content {
  margin-top: 40px;
  margin-right: 130px;
}
.header__title {
  @include font (400, 125px, $Grand);
  color: $color-yellow;
  margin-bottom: 30px;
}
.header__subtitle {
  @include font (400, 30px, $Monst);
  color: $color-white;
  max-width: 630px;
}
.header__body-box {
}
.header__body-btn {
}

// ================================ MAIN ==================================

.main {
}

.main__seller {
  margin-top: 50px;
  margin-bottom: 140px;
}

.main__taste {
  padding-top: 150px;
}
// =========================== SECTION-SELLER ==================================
.seller {
}
.seller__inner {
  margin-bottom: 75px;
}
.seller__title {
  @include font (400, 75px, $Grand);
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.seller__subtitle {
  @include font (400, 25px, $Monst);
  display: flex;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 70px;
}
.seller__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__img-1 {
  width: 245px;
  height: 254px;
  border-radius: 50%;
  background: url("/images/sellers/card-1.png") 50% 50% / cover no-repeat;
}
.menu__img-2 {
  width: 245px;
  height: 254px;
  border-radius: 50%;
  background: url("/images/sellers/card-2.png") 50% 50% / cover no-repeat;
}
.menu__img-3 {
  width: 245px;
  height: 254px;
  border-radius: 50%;
  background: url("/images/sellers/card-3.png") 50% 50% / cover no-repeat;
}

.seller__menu-1, .seller__menu-2, .seller__menu-3  {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 245px;
}

.seller__menu-1 {
}
.seller__menu-2 {
}
.seller__menu-3 {
}
.seller__menu-title {
  @include font(400, 42px, $Grand);
}
.seller__menu-subtitle {
  @include font(400, 17px, $Monst);
  text-align: center;
}

// =========================== SECTION-TASTE ==================================
.taste {
  background-image: url(/images/decor/design-3.png);
  background-repeat: no-repeat;
  background-position: top;
}


.taste__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taste__img-box {
  margin-right: 15px;
  margin-bottom: 80px;
}
.taste__img {
  width: 475px;
  height: 482px;
  border-radius: 50%;
  background: url("/images/sellers/order.png") 50% 50% / cover no-repeat;
}
.taste__content {
  margin: auto 90px auto 0;
}
.taste__title {
  @include font(400, 100px, $Grand);
  color: $color-yellow;
  margin-bottom: 10px;
}
.taste__subtitle {
  @include font(400, 25px, $Monst);
  // color: $color-white;
  margin-bottom: 50px;
}
.taste__btn {
}

// =========================== SECTION-STATISTICS ==================================


